{{#author.profileUrl}}<a href="{{{ author.profileUrl }}}">{{/author.profileUrl}}
    <img class="content-like-avatar" alt="{{{ author.displayName }}}" src="{{{ author.avatar }}}" />
{{#author.profileUrl}}</a>{{/author.profileUrl}}